{
  "name": "pse",
  "notes": "",
  "completion_URL": "https://app.prolific.com/submissions/complete?cc=C7UFSBZW",
  "conditions": [
    {
      "name": "main",
      "experiment_URL": "https://258taravat.github.io/Presuppositional-Scalar-Enrichment/5-projectivity-no-fact/experiment/experiment.html",
      "participants": 10
    }
  ]
}